{:deps {com.taoensso/timbre {:mvn/version "5.2.1"}
        io.github.obarbeau/clodiuno-debug {#_#_:git/sha "8d2b3a4d2dc37b08f50b6c522a391b6cad43040f"
                                           :local/root "../clodiuno-debug"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :paths ["src" "resources"]
 :aliases
 {:build {:deps {io.github.obarbeau/build-clj
                 {:git/sha "bb7d3f12381d84b9e230d8497d4d09b9fd6971ab"}}
          :exec-args {:lib io.github.obarbeau/arduino-lab
                      :main-ns arduino-lab.core
                      :version "0.1.0-SNAPSHOT"}}
  :usb-port {:jvm-opts ["-Dgnu.io.rxtx.SerialPorts=/dev/ttyACM0"
                        ;; gnu.io.CommPortIdentifier
                        ;; requires /usr/lib/jni/librxtxSerial-<version>.so
                        "-Djava.library.path=/usr/lib/jni"]}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}}}}